<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Name: <%= user.displayName %></p>
    <p>Email: <%= user._json.email %></p>
    <a href="/logout">Logout</a>
</body>
</html>

